.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f1f1f1;
}

.counter {
  width: auto;
  padding: 10px;
  height: 40px;
  font-size: 48px;
  font-weight: 600;
  border: 1px solid #eee;
  border-radius: 5px;
  margin: 10px 0;
  text-align: center;
  line-height: 40px;
}

button {
  width: auto;
  height: auto;
  font-size: 20px;
  border: none;
  border-radius: 5%;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px;
}

button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

button.increment {
  background-color: #4caf50;
  color: #fff;
}

button.decrement {
  background-color: rgb(117, 117, 117);
  color: #fff;
}

button.reset {
  background-color: #f44336;
  color: #fff;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

input[type='number'] {
  width: 45%;
  height: 35px;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  margin-right: 5px;
}

input:focus {
  outline: none;
  border: 2px solid #000;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button[type='submit'] {
  max-width: 45%;
  height: 48px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  background-color: rgb(221, 130, 17);
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button[type='submit']:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

button[type='submit']:active {
  background-color: #555;
}
